@import url(../../../stylesheets/application.css);

/*
 * color: #2A5685 -> #0c4d7f;
 *
 * color: #444 -> #222;
 * color: #555 -> #333;
 * color: #484848 -> #222;
 * color: #666 -> #484848;
 * color: #777 -> #484848;
 * color: #808080 -> #484848;
 * color: #999 -> #666;
 *
 * opacity: 0.4 -> 0.7;
 *
 */

body {
  font-family: Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
  font-size: 13px;
  color: #222;
}

#main {
  background-color: #fafcff; /* HSV(216,2,100) */
}

#header {
  background: #455b9d;
  background: linear-gradient(#4f68b5, #455b9d, #455b9d); /* HSV(222, 50, 76) -> (222, 50, 68) -> (222, 50, 68) */
}

h1, h2, h3, h4 {
  font-family: Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif
}

#header h1 {
  font-size: 22px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
}

#content h1, h2, h3, h4 {
  color: #222;
}

#sidebar h3 {
  color: #484848
}

#main-menu li a, #main-menu li a:hover, #main-menu li a:active, #main-menu li a.selected, #main-menu li a.selected:hover {
  padding: 5px 8px 4px 8px;
  background-position: 6px 50%;
  background-repeat: no-repeat;
  font-size: 11px;
  font-weight: normal;
  border-radius: 3px 3px 0px 0px;
}

#main-menu li a.selected, #main-menu li a.selected:hover {
  font-weight: bold;
  color: #222;
  box-shadow: 3px -2px 2px rgba(0, 0, 0, 0.1);
}

#main-menu li a.overview, #main-menu li a.overview:hover {
  padding-left: 24px;
  background-image: url(../images/information.png)
}

#main-menu li a.activity, #main-menu li a.activity:hover {
  padding-left: 24px;
  background-image: url(../images/activities.png)
}

#main-menu li a.roadmap, #main-menu li a.roadmap:hover {
  padding-left: 24px;
  background-image: url(../images/package.png)
}

#main-menu li a.issues, #main-menu li a.issues:hover {
  padding-left: 24px;
  background-image: url(../images/ticket.png)
}

#main-menu li a.new-issue, #main-menu li a.new-issue:hover {
  padding-left: 24px;
  background-image: url(../images/ticket_add.png)
}


#main-menu li a.time-entries, #main-menu li a.time-entries:hover {
  padding-left: 24px;
  background-image: url(../images/time.png)
}

#main-menu li a.gantt, #main-menu li a.gantt:hover {
  padding-left: 24px;
  background-image: url(../images/gantt.png)
}

#main-menu li a.calendar, #main-menu li a.calendar:hover {
  padding-left: 24px;
  background-image: url(../images/calendar.png)
}

#main-menu li a.news, #main-menu li a.news:hover {
  padding-left: 24px;
  background-image: url(../images/news.png)
}

#main-menu li a.documents, #main-menu li a.documents:hover {
  padding-left: 24px;
  background-image: url(../images/oxygen/document-multiple.png)
}

#main-menu li a.wiki, #main-menu li a.wiki:hover {
  padding-left: 24px;
  background-image: url(../images/page_edit.png)
}

#main-menu li a.boards, #main-menu li a.boards:hover {
  padding-left: 24px;
  background-image: url(../images//comments.png)
}

#main-menu li a.files, #main-menu li a.files:hover {
  padding-left: 24px;
  background-image: url(../images/oxygen/package-x-generic.png)
}

#main-menu li a.repository, #main-menu li a.repository:hover {
  padding-left: 24px;
  background-image: url(../images/database_gear.png)
}

#main-menu li a.settings, #main-menu li a.settings:hover {
  padding-left: 24px;
  background-image: url(../images/project_settings.png);
}

/***** Links *****/

a.issue.closed, a.issue.closed:link, a.issue.closed:visited {
  color: #666
}

a#toggle-completed-versions {
  color:#666;
}

/***** Tables *****/

table.list {
  font-size: 12px;
}

table.list th {
  padding: 4px 2px
}

table.attributes {
  font-size: 12px;
}

table.attributes td {
  padding: 1px;
}

tr.changeset td.author {
  text-align: center;
  width: 15%;
}

tr.changeset td.committed_on {
  text-align: center;
  width: 15%;
}

/* assinged to me, created by me */

tr.version.closed, tr.version.closed a {
  color: #666
}

table.list.issues tr.closed td {
  opacity: 0.7;
}

tr.assigned-to-me td.assigned_to, tr.created-by-me td.author {
  font-weight: bold;
  font-size: 11px;
}

td.parent {
  white-space: normal;
  text-align: left;
}

/* overdue */

tr.odd.overdue {
  background: #ffd8b2
}

tr.even.overdue {
  background: #ffe5cc
}

tr.odd.overdue td, tr.even.overdue td {
  border-color: #fcc
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */

/* table.list tr.issue a { color: #484848; } _NO__DOTCOMMA__AFTER__*/

tr.odd.priority-highest, table.list tbody tr.odd.priority-highest:hover {
  color: #900;
  font-weight: bold;
}

tr.odd.priority-highest {
  background: #ffc4c4
}

tr.even.priority-highest, table.list tbody tr.even.priority-highest:hover {
  color: #900;
  font-weight: bold;
}

tr.odd.priority-highest td, tr.even.priority-highest td {
  border-color: #ffb4b4
}

tr.even.priority-highest {
  background: #ffd4d4
}

tr.priority-highest a, tr.priority-highest:hover a {
  color: #900
}

tr.odd.priority-high2, table.list tbody tr.odd.priority-high2:hover {
  color: #900
}

tr.odd.priority-high2 {
  background: #ffc4c4
}

tr.even.priority-high2, table.list tbody tr.even.priority-high2:hover {
  color: #900
}

tr.odd.priority-high2 td, tr.even.priority-high2 td {
  border-color: #ffb4b4
}

tr.even.priority-high2 {
  background: #ffd4d4
}

tr.priority-high2 a {
  color: #900
}

tr.odd.priority-high3, table.list tbody tr.odd.priority-high3:hover {
  color: #900
}

tr.odd.priority-high3 {
  background: #fee
}

tr.even.priority-high3, table.list tbody tr.even.priority-high3:hover {
  color: #900
}

tr.odd.priority-high3 td, tr.even.priority-high3 td {
  border-color: #fcc
}

tr.even.priority-high3 {
  background: #fff2f2
}

tr.priority-high3 a {
  color: #900
}

tr.odd.priority-lowest, table.list tbody tr.odd.priority-lowest:hover {
  color: #559
}

tr.odd.priority-lowest {
  background: #eaf7ff
}

tr.even.priority-lowest, table.list tbody tr.even.priority-lowest:hover {
  color: #559
}

tr.odd.priority-lowest td, tr.even.priority-lowest td {
  border-color: #add7f3
}

tr.even.priority-lowest {
  background: #f2faff
}

tr.priority-lowest a {
  color: #559
}

#watchers a.delete {
  opacity: 0.7
}

.box {
  color: #222;
  word-wrap: break-word;
}

.contextual {
  font-size: 12px
}

.issue .contextual {
  margin: 0;
  padding: 2px 3px;
  border-radius: 3px;
  background: #fffff2;
  border: 1px solid #e6e6cf;
}

/* submitボタンを押しやすく */
input[type="submit"], input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer;
  font-size: 12px;
}

/* テキストボックスで等幅フォントを使用 */

input[type="text"] {
  font-family: "Osaka-Mono", "MS Gothic", sans-serif;
  font-size: 100%;
}

textarea.wiki-edit {
  font-size: 14px;
  font-family: "Osaka-Mono", "MS Gothic", sans-serif;
  letter-spacing: normal;
  line-height: 130%;
}

div.issue {
  background-color: #ffffe6; /* HSV(60,10,100) */
}

div.issue div.subject p {
  color: #666
}

div.issue .next-prev-links {
  color:#666;
}

div#issue_tree .contextual a[href*="/issues/new"] {
    background-image: url("../images/ticket_add.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}

div#relations .contextual a {
    background-image: url("../images/add.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}

.buttons {
  font-size: 12px
}

div#activity dt .time {
  color: #484848
}

div#activity dd span.description, #search-results dd span.description {
  color: #484848
}

table#time-report tbody tr {
  color: #484848
}

form .attributes {
  margin-bottom: 8px
}

form .attributes p {
  padding-top: 1px;
  padding-bottom: 2px;
}

form#issue-form small {
  font-size: 11px;
}

div.wiki-page .contextual a {
  opacity: 0.7
}

ul.projects div.root a.project {
  font-family: Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic"
}

p.other-formats {
  font-size: 12px;
  color: #484848;
}

/***** Wiki *****/

div.wiki pre {
  /* farend_basic: preで横スクロールバーを表示させずに折り返す */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 */
  word-wrap: break-word; /* IE 5.5+ */
}

div.wiki p {
  line-height: 165%;
}

div.wiki li {
  margin-bottom: 4px;
}

/***** My page layout *****/
.mypage-box {
  color:#222;
}

#top-menu {
  background-color: #2C3957;
}

#top-menu a {
    font-weight: normal;
}

#top-menu #loggedas {
    color: #ccc;
}

#top-menu #loggedas a {
    font-weight: bold;
}

#top-menu a.home {
    background-image: url(../images/home.png)
}

#top-menu a.my-page {
    background-image: url(../images/user.png)
}

#top-menu a.projects {
    background-image: url(../images/projects.png)
}

#top-menu a.administration {
    background-image: url(../images/wrench.png)
}

#top-menu a.help {
    background-image: url(../images/help.png)
}

#top-menu a.my-account {
    background-image: url(../images/user_preferences.png)
}

#top-menu a.logout {
    background-image: url(../images/oxygen/media-playback-stop-8.png)
}

#top-menu a.login {
    background-image: url(../images/oxygen/media-playback-start-8.png)
}

#top-menu a.register {
    background-image: url(../images/user_add.png)
}

#top-menu a.home, #top-menu a.my-page, #top-menu a.projects, #top-menu a.administration, #top-menu a.help, #top-menu a.my-account, #top-menu a.logout, #top-menu a.login, #top-menu a.register {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

a.atom {
    background: url(../images/oxygen/application-rss%2Bxml.png) no-repeat 0px 0px;
    padding: 2px 0px 3px 16px;
}

a.csv {
    background: url(../images/oxygen/text-csv.png) no-repeat 0px 0px;
    padding: 2px 0px 3px 16px;
}

a.txt {
    background: url(../images/oxygen/text-plain.png) no-repeat 0px 0px;
    padding: 2px 0px 3px 16px;
}

a.html {
    background: url(../images/oxygen/text-html.png) no-repeat 0px 0px;
    padding: 2px 0px 3px 16px;
}

a.pdf {
    background: url(../images/oxygen/application-pdf.png) no-repeat 0px 0px;;
    padding: 2px 0px 3px 16px;
}

a.png {
    background: url(../images/oxygen/image-x-generic.png) no-repeat 0px 0px;
    padding: 2px 0px 3px 16px;
}

#login-form table {
    border: #bbb solid 1px;
    border-radius: 4px;
    background: #f9f9f9 url("../images/redmine-logo-250px.gif") no-repeat 50% 25px;
    padding-top: 110px;
    margin-top: 55px;
}

#login-form input#username, #login-form input#password {
    font-size: 15px;
    padding: 3px;
}

/***** contextual menu *****/
div.contextual a[href$="/issues"], a[href$="/time_entries"], a[href$="/activity"] {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}

div.contextual a[href$="/issues"] {
    background-image: url("../images/ticket.png");
}

div.contextual a[href$="/time_entries"] {
    background-image: url("../images/time.png");
}

div.contextual a[href$="/activity"] {
    background-image: url("../images/activities.png");
}

div.attributes[id="attributes"] {
  border: 1px 0 0 0 0 solid #f00;
}

/***** calendar *****/
table.cal div.closed {
  text-decoration: line-through;
}

table.cal div.overdue {
  background: #ffe5cc
}

table.cal div.assigned-to-me a {
  font-weight: bold;
}

/***** boards *****/
div.message {
  background: #FFFFE6;
  border: solid 1px #D7D7D7;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 6px;
}

/***** attachments *****/
#content .wiki-page + .attachments {
  border-top: 1px dashed #ccc;
}

/* 作成日・更新日に実際の日時を表示 */
a[href*="activity"][data-absolute-date*=":"] {
  margin: 0 3px;
  box-shadow: inset 0 -1.5em 0 rgba(0, 0, 0, 0.08);
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
}
a[href*="activity"][data-absolute-date*=":"]:before {
  content: ' [' attr(data-absolute-date) '] ';
}

* html #content{
  width: 77%;
}

.author {
  font-size: 12px;
}

div.projects.box > ul > li > a {
  font-weight: bold;
}

/* journal */
div.journal {
  margin-bottom: 0.5em;
}

div.journal ul.details {
  font-size: 12px;
  color: #444;
  background: #f6f6f6;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
}

div.journal ul.details i:before {
  content: '[';
  font-style: normal;
}

div.journal ul.details i:after {
  content: ']';
  font-style: normal;
}

div.journal h4:first-child {
  font-size: 12px;
  font-weight: normal;
  color: #444;
}

/* news */
body.controller-news.action-index h3 {
  margin-bottom: 4px;
}

body.controller-news.action-index .author {
  margin-top: 0;
  border-bottom: 1px dotted #BBBBBB;
}

body.controller-news.action-index .wiki {
  margin: 12px 0 20px 30px;
}

/* アイコン間のマージンを調整して識別しやすく */
.contextual .icon, .buttons .icon {
  margin-left: 5px;
}

.contextual .icon:first-child, .buttons .icon:first-child {
  margin-left: 0;
}

/* リポジトリ画面でコミットメッセージを目立たせる */
table.revision-info {
  color: #959595;
}

table.revision-info a {
  color:#70A7CD;
}

table.revision-info a:hover {
  color:#D14848;
}

@media print {
  #content {
    width: 100%;
  }
}

/* Collapse sidebar */
#sidebar { width: 19%; display: none;}
#main.visible-sidebar #sidebar{ display: block; }
@media screen and (max-width: 899px) {
  #main.visible-sidebar #sidebar, #main.visible-sidebar #sidebar-switch-panel { display: none; }
}

#content { padding: 14px 14px 14px 14px; }
#sidebar-switch-panel {
  float: right;
  left: 10px;
  top: 2px;
  width: 20px;
  height: 25px;
  position: relative;
  padding: 2px;
  margin-left: 5px;
}
#sidebar-switch-button {
  background-color: #EEEEEE;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-radius: 10px 0px 0px 10px;
  display: block;
  height: 100%;
  padding: 9px 20px 9px 5px;
  font-size: 0px;
  text-decoration: none;
}
#main #sidebar-switch-button .arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-top: 8px;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
}
#main:not(.visible-sidebar) #sidebar-switch-button .arrow{
  margin-left: 4px;
  transform: rotate(-135deg);
}
#main.visible-sidebar #sidebar-switch-button .arrow {
  transform: rotate(45deg);
}
@media print {
  #main.visible-sidebar #sidebar, #sidebar-switch-panel { display:none; }
}
